.txtFieldWrap{
  // margin: 30px calc((100% - 500px )/ 2);
  width: 500px;
  display: flex;
  justify-content: space-around;

}
.flexCol {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 500px;
  margin: 30px calc((100% - 500px )/ 2);

  
}
.errorMessge{
  color: rgb(255, 0, 0);
  font-size: 18px;
  margin-left: 20px;

}